<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h2>Welcome to St. Kuzmann's Medical Platform</h2>
    <p>We are sold out to the idea of making treatment seamless and less painstaking by proving a plaform through which
    users can register and provide necessary details in order to make life easier.</p><br>
    <h3><b>History of St. Kuzmann</b></h3>
    <p>St. Kuzmann was founded by some software engineers at Venture Garden group. We provide a wide range of clinical services to a wide range of clients and we currently have a lot
    of clients across various geographical distributions.</p><br>
    <h3><b>Our services:</b></h3>
    <ol>
      <li>Medical treatment advisory</li>
      <li>Patient management</li>
      <li>AI powered medical diagnostics and Advisory</li>
    </ol><br>
    <a href="/add">Join us</a>



  </body>
</html>
